
.image-wrapper {
  position: relative;
  display: inline-block; /* shrink-wrap to the image size */
  align-items: center;
  width: 50%;
}

.image-wrapper img {
  display: block; /* removes inline gap under image */
  max-width: 100%; /* responsive */
  height: auto;
}

.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.carousel-item {
  cursor: pointer;
}


/* for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.7);
  overflow: auto;
  padding: 10px;
}

/* Modal box */
.modal-box {
  background: #FFFBF6;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 1500px;
  max-height: 2500px;
  border-radius: 8px;
  position: relative;
}

.modal-box img {
  max-width: 100%;
  max-height: 100vh; /* prevents it from overflowing vertically */
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto; /* center it */
}


.modal-content-flex {
  align-items: center;
  /* gap: 20px; */
  padding: 0 auto;
}

.modal-left {
  text-align: center;
}

.modal-left img {
  border-radius: 6px;
  padding: 20px 0px;
}

.modal-right {
  flex: 1;
  text-align: center;
  padding-right: 20px;
}

.modal-right h5 {
  text-transform: none;
}

.img-caption {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 6px;
  color: #555;
}



/* Close button */
.close, .closeBtn_arch, .close_large {
  position: absolute;
  top: 5px;
  right: 16px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Small hover zoom on preview images */
.er img, .arch img{
  cursor: pointer;
  transition: transform 0.2s;
}
.er img:hover, .arch img:hover {
  transform: scale(1.05);
}


.arch-desc p {
  color:#000000;
}

.arch-brief {
  width: 550px;
}

#demo {
  width: 550px;
  padding: 1rem;
  background: white;
}